<!DOCTYPE html>
<html lang="en">
<style>
    h1 {
        color: #cccc33;
        font-size: 22px;

        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    }

    .marginTop10px {
        margin-bottom: 10px;
    }
</style>


<h1 style="">Angular SPA </h1>
<fieldset class="marginTop10px" ng-app="firstApp" ng-controller="firstController">
    <legend><h1>Welcome Message</h1>


        <strong> {{message}}</strong>
    </legend>
</fieldset>


<fieldset class="marginTop10px">

    <legend><h1>Here is a basic addition with out having controller :</h1>
    </legend>

    <P>This is Message First Part =
    <blockquote ng-model="messagePartOne"> Ang</blockquote>
    </P>

    <P>This is Message Second Part = </p>
    <blockquote ng-model="messagePartTwo"> ular</blockquote>

    <p>Now this is Message First Part (
        <span ng-bind="messagePartOne"></span>) + Message Second Part (<span ng-bind="messagePartTwo"></span>) = <span
                ng-bind="messagePartOne + messagePartTwo"></span></p>
</fieldset>

<script src="../bower_components/angular/angular.min.js"></script>
<script>
    var firstApp = angular.module("firstApp", []);

    firstApp.controller("firstController", function ($scope) {
        $scope.message = "First Message Inside Controller";
    });


</script>


</html>