<!DOCTYPE html>
<html lang="en" ng-app="ngInitDemoApp" ng-controller="NgInitDemoAppController"
      ng-init="strVal = 'Angular => This is a String Value';
               intValue = 2 + ' => This is a Int and String Concatination Value';
               boolVal = true + ' => This is a Bolean and String Concatination Value';
               arrayVal = ['one', 'two' , 'three' , 'four' , 'five'] ;
               jsonArrayVal = [{ 'id' : 1 , 'name' : 'One'}, { 'id' : 2 , 'name' : 'Two'}, { 'id' : 3 , name : 'Three'}]">

<link rel="stylesheet" href="../resources/style.css">
<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">

<div class="container">
    <div class="row">
        <h1>Here, Displaying the Already Defined Values from ng-init Directive </h1>
        <ul>
            <li>{{strVal}}</li>
            <hr>
            <li>{{intValue}}</li>
            <hr>
            <li>{{boolVal}}</li>
            <hr>
            <li ng-repeat="x in arrayVal">{{x}}</li>
            <hr>
            <table class="table table-bordered table-responsive">
                <tr ng-repeat="x in jsonArrayVal">
                    <td>
                        {{x.id}}
                    </td>
                    <td>{{x.name}}
                    </td>
                </tr>
            </table>
        </ul>


    </div>
    <hr>
    <div class="row">
    <h1>aasa</h1>

    </div>
</div>

<script src="../bower_components/angular/angular.min.js"></script>
<script>

    angular.module('ngInitDemoApp', []).controller('NgInitDemoAppController', function ($scope) {

    })


</script>
</html>